@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h1>Đây là trang bảo mật ạdjfdkfjdssdsdsd    áasasdsdsd test sdssd my name is Duy</h1>
<img src = "https://www.elle.vn/wp-content/uploads/2017/07/25/hinh-anh-dep-1.jpg"  /> 